name: Deploy

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Clone repository
        uses: actions/checkout@v3

      - name: Install Node for build
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - run: npm ci
      - run: npm run build --if-present

      - name: Upload to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          # Warning: Unexpected input(s) 'include', valid inputs are ['project', 'entrypoint', 'import-map', 'root']
          # Even though GitHub actions shows this warning, `include` or `exclude` args exists in denoland/deployctl 's source code and working.
          include: dist main.ts
          project: nft-marketplace-frontend
          entrypoint: main.ts
